
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box  {
    width: 100vw;
    height: 430px;
    padding: 80px ;
    background: var(--yellow);
}

.box .text{
    margin: auto;
    width: 75%;
}

.box .text h1{
    color: var(--orange);
    font-size: 50px;
    margin-bottom: 15px;;
    }

.box .text p{
        color: var(--gray);
        line-height: 1.5em;
        font-size: 27px;
    }

